<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<style>
		h2{
			display: inline;
			letter-spacing: 3px;
			text-shadow: 0.7px 0.7px 2px;
		}
	</style>	
</head>
<body>

	<h2 color="gold" >BTC</h2>
	<img src="/img/btc.png" alt="btc" width="30px" srcset="">
	<h3 id="bitcoin"></h3> 
	<h2>DOLAR</h2>
	<img src="/img/dolar.png" alt="dolar" width="50px">
	<h3 id="dolar"></h3>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
</body>
</html>